* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #295F98;
}

.game-title {
    text-align: center;
    font-size: xxx-large;
    margin: 2rem;
    color: aliceblue;
}

.container {
    height: 60vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    font-size: 8vmin;
    background: -webkit-linear-gradient(hsl(312.92deg 94.47% 46.97%), hsl(106.89deg 91.26% 49.24%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    bottom: 2rem;
    width: 100%;
}

.hide {
    display: none;
}

.turn-msg {
    color: #fff;
}

button {
    cursor: pointer;
}

button[disabled] {
    cursor: auto;
}